.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wordle-Grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wordle-Guess {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wordle-Letter {
  justify-content: center;
  border: solid 1px whitesmoke;
  padding: 20px;
  margin: 5px;
}

.keyboard {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.keyboard-Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.keyboard-Row-Letters {
  justify-content: center;
  border: solid 1px whitesmoke;
  padding: 10px;
  margin: 5px;
}
